#header {
  height: 100px;
  width: 100%;
  background-color: white;
}

#header h1 {
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
  padding-top: 20px;
  color: #221559;
}

#header h1 a {
  text-decoration: none;
}

#header h1 a:link {
  color: #221559;
}

#header h1 a:visited {
  color: #221559
}

#nav a:link {
  color: #221559;
}

#nav a:hover {
  color: white;
}

#nav {
  background-color: #8EE7E0;
  height: 60px;
  width: 100%;
  display: inline-block;
  overflow:hidden;
}

#nav ul li {
  display: inline-block;
  padding-left: 150px;
  padding-top: 5px;
  font-family: 'Roboto Slab', serif;
  color: #221559;
  font-size: 20px;
}

#nav a {
  text-decoration: none;
}

#nav a:link {
  color: #221559;
}

#nav a:hover {
  color: white;
}

#main {
  background-color: white;
  display: block;
  width: 600px;
  height: auto;
  padding-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  color: #221559;
  position: relative;
  left: 100px;
}

#main h1 {
  font-family: 'Oleo Script', cursive;
  font-size: 25px;
  color: #221559;
  left: 100px;
}

#main img {
  width: 400px;
  border: 1px solid black;
}

.emphasis {
  font-family: 'Oleo Script', cursive;
  font-size: 17px;
  color: #221559;
  left: 100px;
}

li {
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  color: #221559;
  position: relative;
}

.code {
  font-family: Courier;
  background-color: #d3d3d3;
  font-size: 10px;
}

#footer {
  position: relative;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #4CA090;
  overflow:hidden;
}

#footer ul li {
  display:inline-block;
  padding-left: 100px;
}

#footer img {
  position: relative;
  bottom: 20px;
}

#twitter {
  position: relative;
  bottom: 20px;
}